header nav {
  position: fixed;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 16px;
  background: #434651;
}

main {
  flex: 1;
}

header ul {
  display: flex;
}

header li {
  flex: 1;
}

header a {
  height: 70px;
  display: flex;
  padding: 16px;
}

main {
  display: flex;
  flex-flow: wrap;
}

aside {
  background: #434651;
  position: fixed;
  min-width: 23%;
  max-width: 23%;
  height: calc(100%);
  /*overflow-y: scroll;*/
}

section {
  flex: 1;
  margin-left: 23%;
}

section p {
  margin-bottom: 32px;
  text-align: justify;
}

/* FOOTER */

footer {
  background: #434651;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: column wrap;
  padding: 16px;
}

footer div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  display: flex;
  flex-flow: column wrap;
}

aside nav {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}

aside ul {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}

aside li {
  flex: 1;
  display: flex;
}

aside a {
  flex: 1;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

@media screen and (max-width: 940px) {
  aside {
    /*display: none;*/
    width: 10%;
  }
  section {
    margin-left: 23%;
    /*margin: 0;*/
  }
}

.nav-content {
  overflow-y: scroll;
  position: relative;
}

.flex-container {
  display: flex;
}
.flex-container.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-container.flex-direction-col {
  flex-direction: column;
}
.flex-container.flex-v-center {
  align-items: center;
}
.flex-container.flex-h-center {
  justify-content: center;
}
.flex-container.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-container.flex-wrap {
  flex-flow: row wrap;
}
.flex-container.justify {
  justify-content: space-around;
}
.flex-container.justify-space-between {
  justify-content: space-between;
}
.flex-container.flex-stretch {
  align-items: stretch;
}
.flex-container > .flex-expand {
  flex: 1;
}
.flex-container > .flex-pull-left {
  margin-right: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.flex-container > .flex-pull-right {
  margin-left: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.flex-container > .flex-pull-bottom {
  margin-top: auto;
}

.todo-list {
  height: 80px;
  color: white;
  padding: 0px 1px;
}

.todo-list-title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  font-size: 22px;
  font-weight: 400;
}

.todo-list-counts {
  font-size: 16px;
  font-weight: 300;
  padding: 2px 0px;
}

.list-container {
  margin: 0px 2px;
}

.list-header {
  height: 70px;
  color: white;
  padding: 4px 8px;
}

.list-detail-title {
  font-size: 26px;
  font-weight: 400;
  word-break: break-all;
}

.todo-section {
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #9aa0a7;
}

.todo {
  border-bottom: 1px solid #9aa0a7;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.todo-content {
  width: 100%;
  border-left: 4px solid #3e4145;
  padding: 16px 24px;
}

.todo-title {
  font-size: 32px;
  font-weight: bold;
  word-break: break-all;
}

.todo-description {
  font-size: 18px;
  font-weight: 300;
}

.text-error {
  color: #ff8a65;
}

.text-gray {
  color: #9aa0a7;
}

.text-gray-dark {
  color: #3e4145;
}

.p-2 {
  padding: 2px;
}
.p-4 {
  padding: 4px;
}
.p-16 {
  padding: 16px;
}
.p-x-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.p-x-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.p-x-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.p-y-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p-y-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

input[type='text'],
input[type='date'] {
  font-size: 16px;
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

.btn {
  cursor: poitner;
  text-align: center;
  background-color: #434651;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #ddd;
}

.pointer {
  cursor: pointer;
}

.add-list {
  background: rgb(27, 28, 29);
  color: white;
  font-size: 18px;
  padding: 20px 12px;
}
